/* 
* @Author: ASUS
* @Date:   2019-07-22 14:38:42
* @Last Modified by:   ASUS
* @Last Modified time: 2019-08-08 23:23:42
*/
@charset "utf-8";
* {
	margin: 0;
	padding: 0;
}
em,i {
	font-style: normal;
}
li {
	list-style: none;
}
img {
	border: 0;
	vertical-align: middle;
}
#aa {
	background: url("../图片/img-8e381d3c8e6cd020e92d3cb90299f813.jpg") no-repeat;
	background-position: center center;
	background-attachment: fixed;/*固定背景位置*/
	background-size: cover;/*设置背景图的大小，不管多大都占完我整个界面*/
	font-family: Tahoma,Arial,Roboto,"Droid Sans","Helvetica Neue","Droid Sans Fallback","Heiti SC",sans-self;
}
button {
	cursor: pointer;
}
a {
	color: #666;
	text-decoration: none;
}
a:hover {
	color: #c81623;
}/*使得鼠标放上去变色*/
.header {
	line-height: 50px;
	background: rgba(0,0,0,0.4);/*设置背景图片的透明度*/
}
.header nav {
	height: 60px;
	background: #fff;
	opacity: 0.8;

}
nav ul li {
	float: right;
	margin-right: 30px;
}
nav ul li img {
	padding-top: 3px;
	padding-bottom: 7px;
	padding-right: 5px;
	width: 40px;
	height:  40px;
}
.logo {
	float: left;
	margin-left: 40px;
	padding-top: 8px;
}
.logo a {
	font-size: 35px;
	color: #aaa;
	font-weight: 700;
	letter-spacing: 2px;
	 font-family: "STXingkai";
}
.bb .cc {
	color: #fff;
	margin: 0 auto;
	max-width: 300px;
	position: relative;
	top:160px;
	text-align: center;
}
.line{
	width: 65%;
	height: 2px;
	background: #fff;
	margin: 0 auto;
	margin-bottom: 10px;
}
.cc h1{
	margin-bottom: 10px;
}
.bb .cc p{
	line-height: 30px;
	font-size:18px;
	letter-spacing: 1px;
}
.bb {
	/* background: blue; */
	height: 600px;
	 
}
.content {
	opacity: 0.9;/*设置不透明度*/
}
.dd {
	text-align: center;
	color: #fff;
	background: rgba(67,178,165,1);
	opacity: 0.95;
	height: 300px;
}
.ee {
	max-width: 1080px;
	margin: 0 auto;
}
.ee h1 {
	padding: 15px 0;
	font-size: 27px;
}
.ee .line {
	margin: 15px auto;
	width: 50%;
	background: darkgray;
}
.ee p{
	padding: 10px 0;
	font-size: 18px;
	letter-spacing: 1px;
}
.f_left {
	width: 45%;	
}
.f_left img {
	width: 100%;
	float: left;
	height: 380px;
}
 .clear_fix:after {
	content: '';
	display: block;
	clear: both;
}  /*清除浮动*/
.pp {	
	
	height: 380px;
}
.f_right {
	float: right;
	width: 55%;
	height: 380px;
	background: rgb(33,41,50);
}
.f_right p {
	width: 70%;
	font-size: 30px;
	padding-top: 160px;
	padding-left: 100px;
	color: #fff
}
.g_left {
	float: left;
	width: 55%;
	height: 380px;
	background: rgb(33,41,50);
}
.g_left p {
	font-size: 30px;
	padding-top: 160px;
	padding-left: 40px;
	color: #fff
}
.g_right {
	width: 45%;
	float: right;
}
.g_right img {
	float: right; 
	width: 100%;
	height: 380px;
}
.footer {
	background: #333;
	min-height: 200px;
	text-align: center;
	color: #fff;
	opacity: 0.9;/*设置不透明度*/
}
.ss {
	display: block;
	margin: 0 auto;
	width: 1080px;
	padding: 45px;
}
.ss li{
	display: inline-block;
	padding: 10px;
	font-size: 20px;
}
.top {
	width: 50px;
	height: 30px;
	position: fixed;
	right: 30px;
	bottom:70px;
}
.top img {
	width: 10px;
	height: 50px;
}
.top img, p {
	width: 100%;
	text-align: center;
}