/* 
* @Author: ASUS
* @Date:   2019-07-26 11:19:59
* @Last Modified by:   ASUS
* @Last Modified time: 2019-07-26 11:22:19
*/
@charset "utf-8";
* {
	margin: 0;
	padding: 0;
}
em,i {
	font-style: normal;
}
li {
	list-style: none;
}
img {
	border: 0;
	vertical-align: middle;
}
button {
	cursor: pointer;
}
a {
	color: #666;
	text-decoration: none;
}
a:hover {
	color: #c81623;
}/*使得鼠标放上去变色*/